.hour {
}

.timeTableWrap {
}

.timeWrap {
    display: inline-block;
    margin-bottom: 10px;
}

.time {
    font-size: 0.7rem;
    text-align: right;
    height:0.8rem;
    width: 3.5rem;
    margin: 3px;
    /* border: solid red; */
}

.tableWrap {
    display: inline-block;
}

.table {
    height: 0.8rem;
    width: 100px;
    border: solid black;
    color: transparent;
}

.table.highlight{
    background-color: lightblue; 
}